<div class="mx-auto max-w-3xl p-10 text-center">
  <h1 class="text-3xl font-bold">FindSubby</h1>
    <p class="mt-4 text-gray-600">Public landing page. Sign up to access your dashboard.</p>
  <div class="mt-6 space-x-4">
    <%= link_to 'Sign up', new_user_registration_path, class: 'px-4 py-2 rounded bg-black text-white' %>
    <%= link_to 'Log in', new_user_session_path, class: 'px-4 py-2 rounded border' %>
  </div>
</div>
